# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.avi
*.asv
*.m4v
*.mat/Julia/12_Particle_tracks.dat
/Julia/bouncy_balls_cl.jl~
/Julia/bouncy_balls.jl~
/Julia/fileread.jl~
/Julia/filewrite.jl~
/Julia/F_kernel.jl~
/Julia/Particle_tracks.dat~
/Julia/randseed.jl~
/Julia/Win_ver/fileread.jl~
/Julia/Particle_tracks_abs.dat
/Julia/init_dump.dat
/Julia/SuchBounce.jl~
/MATLAB/Particle_tracks.dat~
/MATLAB/Particle_tracks_abs.dat
/MATLAB/Particle_tracks.dat
/Julia/setup.vec~
/Julia/finaldump.dat
/Julia/F_kernel_SS_symp.jl~
/Julia/randseed_part.jl~
/Julia/setupcube.vec~
/Julia/setup_cube_orbit.vec~
/MATLAB/orbit_v_inertial/1ms/cube_inertial1.dat
/MATLAB/orbit_v_inertial/1ms/cube_inertial1_final.dat
/MATLAB/orbit_v_inertial/1ms/cube_orbit1.dat
/MATLAB/orbit_v_inertial/1ms/cube_orbit1_final.dat
/MATLAB/orbit_v_inertial/1ms/cube_orbit2.dat
/MATLAB/orbit_v_inertial/1ms/cube_orbit2_final.dat
/MATLAB/orbit_v_inertial/5ms/finaldump.dat
/MATLAB/orbit_v_inertial/5ms/Particle_tracks.dat
/MATLAB/Particle_tracks_cube.dat
/MATLAB/Particle_tracks_orbit_cube.dat
/Julia/setup_cube_orbit.vec
/Julia/setupcube.vec
/Julia/setup_pentagon_orbit.vec
/Julia/E_int_tracks.dat
/Julia/F_kernel_HS.jl~
/Julia/F_kernel_hybrid.jl~
/Julia/F_kernel_SS.jl~
/Julia/setup2.vec
/Julia/T_v_tracks.dat
/Julia/T_w_tracks.dat
/Julia/V_tracks.dat
/MATLAB/E_plot.m~
/MATLAB/E_int_tracks.dat
/MATLAB/london.m~
/MATLAB/orbit_v_inertial/cuboid_orbit1/finaldump.dat
/MATLAB/orbit_v_inertial/cuboid_orbit1/init_dump.dat
/MATLAB/orbit_v_inertial/cuboid_orbit1/Particle_tracks.dat
/MATLAB/orbit_v_inertial/cuboid_orbit2/finaldump.dat
/MATLAB/orbit_v_inertial/cuboid_orbit2/init_dump.dat
/MATLAB/orbit_v_inertial/cuboid_orbit2/Particle_tracks.dat
/MATLAB/T_v_tracks.dat
/MATLAB/T_w_tracks.dat
/MATLAB/V_tracks.dat
/Julia/Outputs/E_int_tracks.dat
/Julia/Outputs/finaldump.dat
/Julia/Outputs/init_dump.dat
/Julia/Outputs/Particle_tracks.dat
/Julia/Outputs/T_v_tracks.dat
/Julia/Outputs/T_w_tracks.dat
/Julia/Outputs/V_tracks.dat
/Julia/GC/Outputs_1ms/E_int_tracks.dat
/Julia/GC/Outputs_1ms/final_dump.dat
/Julia/GC/Outputs_1ms/Particle_tracks.dat
/Julia/GC/Outputs_1ms/T_v_tracks.dat
/Julia/GC/Outputs_1ms/T_w_tracks.dat
/Julia/GC/Outputs_1ms/V_tracks.dat
/Julia/GC/Outputs_2ms/E_int_tracks.dat
/Julia/GC/Outputs_2ms/final_dump.dat
/Julia/GC/Outputs_2ms/Particle_tracks.dat
/Julia/GC/Outputs_2ms/T_v_tracks.dat
/Julia/GC/Outputs_2ms/T_w_tracks.dat
/Julia/GC/Outputs_2ms/V_tracks.dat
/Julia/GC/Outputs_500us/E_int_tracks.dat
/Julia/GC/Outputs_500us/final_dump.dat
/Julia/GC/Outputs_500us/Particle_tracks.dat
/Julia/GC/Outputs_500us/T_v_tracks.dat
/Julia/GC/Outputs_500us/T_w_tracks.dat
/Julia/GC/Outputs_500us/V_tracks.dat
/Julia/GC/Outputs_5ms/E_int_tracks.dat
/Julia/GC/Outputs_5ms/final_dump.dat
/Julia/GC/Outputs_5ms/Particle_tracks.dat
/Julia/GC/Outputs_5ms/T_v_tracks.dat
/Julia/GC/Outputs_5ms/T_w_tracks.dat
/Julia/GC/Outputs_5ms/V_tracks.dat
/Julia/Outputs_orbit1/E_int_tracks.dat
/Julia/Outputs_orbit1/final_dump.dat
/Julia/Outputs_orbit1/Particle_tracks.dat
/Julia/Outputs_orbit1/T_v_tracks.dat
/Julia/Outputs_orbit1/T_w_tracks.dat
/Julia/Outputs_orbit1/V_tracks.dat
/Julia/Particle_tracks.dat
/MATLAB/final_dump.dat
/MATLAB/GC.mat
/MATLAB/Outputs/Outputs_1ms/E_int_tracks.dat
/MATLAB/Outputs/Outputs_1ms/final_dump.dat
/MATLAB/Outputs/Outputs_1ms/Particle_tracks.dat
/MATLAB/Outputs/Outputs_1ms/T_v_tracks.dat
/MATLAB/Outputs/Outputs_1ms/T_w_tracks.dat
/MATLAB/Outputs/Outputs_1ms/V_tracks.dat
/MATLAB/Outputs/Outputs_2ms/E_int_tracks.dat
/MATLAB/Outputs/Outputs_2ms/final_dump.dat
/MATLAB/Outputs/Outputs_2ms/Particle_tracks.dat
/MATLAB/Outputs/Outputs_2ms/T_v_tracks.dat
/MATLAB/Outputs/Outputs_2ms/T_w_tracks.dat
/MATLAB/Outputs/Outputs_2ms/V_tracks.dat
/MATLAB/Outputs/Outputs_500us/E_int_tracks.dat
/MATLAB/Outputs/Outputs_500us/final_dump.dat
/MATLAB/Outputs/Outputs_500us/Particle_tracks.dat
/MATLAB/Outputs/Outputs_500us/T_v_tracks.dat
/MATLAB/Outputs/Outputs_500us/T_w_tracks.dat
/MATLAB/Outputs/Outputs_500us/V_tracks.dat
/MATLAB/Outputs/Outputs_5ms/E_int_tracks.dat
/MATLAB/Outputs/Outputs_5ms/final_dump.dat
/MATLAB/Outputs/Outputs_5ms/Particle_tracks.dat
/MATLAB/Outputs/Outputs_5ms/T_v_tracks.dat
/MATLAB/Outputs/Outputs_5ms/T_w_tracks.dat
/MATLAB/Outputs/Outputs_5ms/V_tracks.dat
/Julia/Outputs/final_dump.dat
